@import "tailwindcss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0px 10px;
  }
}


.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;  /* IE va Edge */
  scrollbar-width: none;  /* Firefox */
}

.settings-menu {
  position: absolute;
  z-index: 2;
  top: 65px;
  right: 2rem;

  border-radius: 0.5rem;
  background-color: #252527;
  width: 250px;

  padding: 0.5rem;
  font-size: 1rem;
  color: white;

  @include no-text-select;

  transform: scale(0.1);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  &.open {
    transform: scale(1);
    visibility: visible;
  }
}

.measurement-systems {
  padding: 0.5rem;
}

.systems {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.system {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
  border: 1px solid rgb(83, 81, 78);
  border-radius: 0.5rem;
  cursor: pointer;

    &.active {
      background-color: white;
      color: black;
    }
}

.search-container {
  display: flex;
  border: 1px solid red;
  border-radius: 20px;
  padding: 0 1rem;
}

.search-icon, .search-input input {
  height: 40px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-right: 1rem;
}

.search-input input {
  background-color: transparent;
  color: var(--primary-text-color);
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-results {
  border-radius: 0.5rem;
  background-color: #252527;
  position: absolute;
  right: 0;

  z-index: 1;
  top: 65px;
  max-height: 50vh;
  overflow-x: hidden;
  color: white;
    width: 300px;
}

.results-container {

 .result {
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;

    &:hover {
      background-color: wheat;
      color: black;
    }
  }
}